@import url('https://fonts.cdnfonts.com/css/furore');

body {
    margin: 0;
    font-family: 'Furore';
    font-weight: 400;
    background-image: url("../images/section.png");
    background-color: #cccccc;
    width: 100%;
    height: auto;
    margin-top: 1em
}

.header {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-origin: border-box;
}

.logo__image {
    width: 13em;
    height: auto;
}

a {
    text-decoration: none;
    white-space: nowrap;
    color: white;
    font-size: 0.9375em;
    font-family: 'Furore';
    margin-left: 0.9375em;
}

.nav__link:nth-child(2) {
    border: 0.21875em #ffbf19 solid;
    padding: 1em 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.875em;
    justify-content: center;

}

.bt {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    font-size: 0.9em;
    grid-gap: 0.9375em;
    color: black;
}

.button__link {
    background: linear-gradient(94.71deg, #f3bc30 2.67%, #FFDE33 137.28%);
    color: black;
    position: relative;
    padding: 1em 1.2em;
    clip-path: polygon(0% 10%, 100% 0%, 90% 100%, 10% 90%);
}

.button__link:last-child {
    clip-path: polygon(10% 0%, 100% 10%, 100% 90%, 0% 100%);
}

.line-container {
    overflow: hidden;
    background-color: #16171B;
    white-space: nowrap;
    color: #ffffff;
    margin-top: 1.875em;
    width: 100%;
    text-align: center;
}

.line {
    display: inline-block;
    animation: line 350s linear infinite;
}

.line p {
    font-size: 1.5em;
}


@keyframes line {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.nav__link:nth-child(2):hover {
    color: #ffbf19;
    margin-left: 0.9375em;
}

.nav__link:not(:nth-child(2)):hover {
    color: rgb(0, 0, 0);
}





.bt:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    transition: all .65s;

}

.bt:hover {
    color: #ffffff;
    background: #090909;
}

.bt:hover::after {
    width: 35%;
}

main {
    padding: 5em 5em;
    padding-top: 2.5em;
    padding-bottom: 0em;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    overflow: hidden;
}

.container__box {
    display: flex;
}

.container__box_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
    color: #ffffff;
    display: grid;
    grid-gap: 10px;
    text-align: start;
}

.subtitle {
    font-size: 15px;
    background-color: #1c1e22;
    display: inline-block;
    padding: 0.8em;

}

.title {
    font-size: 52px;
    margin-top: -0.3em;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
}

.gerb {
    width: 150px;
    height: 280px;
}

.mediabox {
    display: inline-block;
    position: relative;
    -webkit-clip-path: polygon(60px 0, 100% 0, 100% 100%, 0 100%, 0 60px);
    clip-path: polygon(60px 0, 100% 0, 100% 100%, 0 100%, 0 60px);
    width: 35em;
    height: 20em;
    margin-left: 3em;
    overflow: hidden;
    max-width: 35em;
}

.mediabox__control {
    max-width: 100%;
    height: auto;
}

.flex_items {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;

}


.info {
    color: #ffffff;
}

.counter {
    display: flex;
    flex-direction: row;
    text-align: start;
}

.counter__border {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5em #f3bc30 solid;
    padding: 0.4em;
    font-size: 18px;
    white-space: nowrap;
}

.counter__border p {
    margin: 0;
}

.counter__border:last-child {
    margin-left: 1em;
}

.counter__value {
    font-size: 2.5em;
    padding-left: 1em;
}

.button__link_1,
.button__link_2 {
    background: linear-gradient(94.71deg, #f3bc30 2.67%, #FFDE33 137.28%);
    color: black;
    position: relative;
    padding: 1em 1.2em;
    -webkit-clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
    clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
    font-size: 25px;
    padding: 20px;
    white-space: nowrap;
}

.button__link_2 {
    background: #ffffff;
    margin-top: -10px;
}



.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button__link_2:hover {
    color: #ffffff;
    background: #f3bc30;
}

.button__link_1 {
    color: #ffffff;
}

.button__link_1:hover {
    color: #000000;
    background: #ffffff;
}

.social-box ul {
    display: flex;
    list-style: none;
    padding: 0;
}


.social-box ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #494949;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

footer {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copyright__text {
    color: #4a4d52;
}

@media (max-width: 1400px) {
    .hero {
        padding: 3em 1em;
    }

    .container {
        flex-direction: column;
        margin: 0 1em;
    }

    .container__box_text {
        margin-left: 0;
        text-align: center;
    }

    .title {
        font-size: 36px;
    }

    .gerb {
        width: 100px;
    }

    .mediabox {
        width: 100%;
        margin-left: 0;
    }

    .btns {
        margin-top: 3em;
    }

    .flex_items {
        flex-direction: column;
        align-items: center;
        margin-top: 1em;

    }

    .counter__border {
        padding: 0.4em 1em;
    }

    .counter__value {
        font-size: 1.5em;
    }

    footer {
        margin-top: 1em;
    }
}













@media (max-width: 1000px) {

  
    .nav__link {
        display: none;
    }

    .button__link {
        display: none;
    }

    .bt {
        display: none;
    }


    #menuToggle {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
    }

    .logo__image {
        margin: 0 auto;
        display: block;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-origin: border-box;
    }
}

#menuToggle {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

#menuToggle a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: rgb(0, 0, 0);
}

#menuToggle a:nth-child(3):hover {
    color: #ffbf19;
}

#menuToggle a:first-child {
    display: inline-block;
    background: #ffbf19;
    display: grid;
    grid-template-columns: 5em 1em;
    align-items: center;
    font-size: 0.9em;
    color: #000000;
    clip-path: polygon(5% 0%, 100% 10%, 100% 90%, 0% 100%);
    padding: 1em 1.2em;
}

#menuToggle a:first-child:hover {
    background: #6d561d;
    color: #ffffff;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menu {
    position: fixed;
    top: -5em;
    left: 0;
    width: 100%;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -105%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    overflow-y: auto;
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menu {
    background-image: url("../images/section.png");
}


#menuToggle input:checked~ul {
    transform: none;
}


@media (min-width: 1000px) {
    #menu {
        display: none;
  
    }
}



@media (min-width: 1000px) {
    #menuToggle {
        display: none;

    }
}




@media (max-width: 666px) {

 
    .counter {
        flex-direction: column;

        justify-content: center;

    }

    .counter__border {
        margin-top: 1em;

    }

    .descr {
        margin-top: -4em;
    }


    .barig {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .counter__border:first-child {
        margin-left: 20px;
    }


    footer {
        flex-direction: column;
    }

    .btns {
        flex-direction: column;
    }

    .button__container2 {
        margin-top: 4em;
    }

    .gerb {
        width: 100px;
    }

    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .gerb {
        width: 75px;
    }

    .descr {
        margin-top: -5em;
    }

    .title {
        font-size: 22px;
    }
}

@media (max-width: 400px) {
    .gerb {
        width: 70px;
        margin-top: -1em;
    }

    .title {
        font-size: 22px;
    }

    .counter__border {
        margin-top: 1em;
        width: 300px;
        font-size: 15px;
    }

    .subtitle {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 18px;
    }

    .descr {
        margin-top: -6em;
    }

    .subtitle {
        font-size: 8px;
    }
}





.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b1b1e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, );
    align-items: start;
    text-align: left;
    -webkit-clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
    clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
    color: #ffffff;
    overflow-y: auto;
    height: 65%
}

.popup h1 {
    font-size: 23px;
    margin: 0 0 20px;
}

.bt1 {
    display: grid;
    grid-template-columns: 2em 3em;
    align-items: center;

}

.popup form {
    display: flex;
    flex-direction: column;
}

.popup input {
    padding: 10px;
    margin: 5px 0;
}

.input {
    background-color: #16171b;
    -webkit-clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
    clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
    height: 2.5em;
    border: none;
    color: #ffffff;
    font-size: 0.9375em;
    font-family: 'Furore';
}

.submit {
    height: 4em;
    background-color: #2d0606;
    margin-top: 0.5em;
    font-size: 0.9375em;
    font-family: 'Furore';
    border: none;
    cursor: pointer;
}

.submit:hover {
    height: 4.1em;
    background-color: #063010;
    color: #26ff00;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    text-decoration: none;
    font-size: 24px;
    color: #f39b9b;
}